html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-image: url('../img/New-Year-s-Day.png');
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}

.fireworks-canvas, .word-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.word-container {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.word-canvas {
  will-change: transform;
}